*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('./assets/9dmycbFE7mQ.jpeg');
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: 0.5s all ease;
    transform-origin: left;
    z-index: -1;
}
body::before{
    position: absolute;
   top: 0;
   left: 0;
   height: 120%;
   width: 100%;
   content: '';
   background-color: rgba(0, 0, 0, 0.8);
}
.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    height: 15%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards_container{
height: 80%;
width: 70%;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.card_2_container,.card_3_container,.card_1_container{
    height: 80%;
    width: 27vw;
    transform-style: preserve-3d;
    perspective: 1000px;
    position: relative;
    z-index: 0;
    transition: 0.7s all ease;
    color: rgba(0,0,0,0);
    
}
.card_1_container,.card_3_container{
    transform: scaleY(0.8);
}
.card_2_container{
    transform:scaleY(1) scaleX(1.05);
}

.card1{
    position: relative;
    height: 100%;
    width: 100%;
    background-image:url('./assets/9dmycbFE7mQ.jpeg');
    background-size: cover;
    transition: 0.7s all ease;
     transform-style: preserve-3d translateZ(-10px);
     perspective: 100px;
    transform: rotateY(25deg) ;
    z-index: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     
     font-weight: 600;
     display: flex;
     justify-content: center;
     padding-top: 50%;
     gap: 10%;
     align-items: start;
     flex-direction: column;
}
.card2{
    height: 100%;
    width: 100%;
    background-image:url('./assets/m7K4KzL5aQ8.jpeg');
    background-size: cover;
    transition: 0.7s all ease;
    transform: rotateY(0deg);
     transform-style: preserve-3d translateZ(-10px);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     
     font-weight: 600;
     display: flex;
     justify-content: center;
     padding-top: 50%;
     gap: 10%;
     align-items: start;
     flex-direction: column;
    z-index: 2;

}
.heading2,.country2,.quote2{
   height: 5%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: -2rem;
    pointer-events: none;
}
.heading2{font-size: 2rem;}
.country2{
    font-weight: 300;
    font-size: 1.5rem;
}
.quote2{
    font-size: 1.2rem;
    font-weight: 300;
}









.card3{
    height: 100%;
    width: 100%;
    background-image:url('./assets/Z8dtTatMVMw.jpeg');
    background-size: cover;

     transform-style: preserve-3d translateZ(-10px);
    transition: 0.7s all ease;
    transform: rotateY(-25deg);
    z-index: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     
     font-weight: 600;
     display: flex;
     justify-content: center;
     padding-top: 50%;
     gap: 10%;
     align-items: start;
     flex-direction: column;
}
.button1,.button2{
    z-index: 2;
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    transition: 0.15s all ease;
    position: relative;
    position: relative;
    font-size: 1.2rem;
    position: relative;
    font-size: 1.2rem;
}
.button1{
  right: 3rem;
}
.button2{
    left: 3rem;
}
.button2:hover,.button1:hover{
    background-color: white;
    color: black;
}



