.container {
  color: black;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;

  display: flex;
  flex-direction: column;
}

.word-count{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: medium;
}